<% include header %>
  <div class="container">
    <div id="expected" class="section with-margin">
      <h5>Expected Tank Values v<%= reference.version %></h5>
      <p class="grey-text">Deltas are showing differences between v<%= reference.version - 2 %> and v<%= reference.version %></p>
      <table class="table highlight">
        <thead>
        <tr>
          <th>Tank</th>
          <th class="right-align">expFrag</th>
          <th class="right-align">expDamage</th>
          <th class="right-align">expSpot</th>
          <th class="right-align">expDef</th>
          <th class="right-align">expWinRate</th>
          <th class="right-align">deltaFrag</th>
          <th class="right-align">deltaDamage</th>
          <th class="right-align">deltaSpot</th>
          <th class="right-align">deltaDef</th>
          <th class="right-align">deltaWinRate</th>
          <th class="text-center">Tier</th>
          <th>Nation</th>
          <th>Class</th>
        </tr>
        </thead>
        <tbody>

        <% reference.list.forEach(function(ref){ %>
        <tr>
          <td><a href="/reference/<%= ref.id %>"><%= ref.tank %></a></td>
          <td class="right-align"><%= ref.expFrag %></td>
          <td class="right-align"><%= ref.expDamage %></td>
          <td class="right-align"><%= ref.expSpot %></td>
          <td class="right-align"><%= ref.expDef %></td>
          <td class="right-align"><%= ref.expWinRate %></td>
          <td class="right-align"><%= ref.deltaFrag %></td>
          <td class="right-align"><%= ref.deltaDamage %></td>
          <td class="right-align"><%= ref.deltaSpot %></td>
          <td class="right-align"><%= ref.deltaDef %></td>
          <td class="right-align"><%= ref.deltaWinRate %></td>
          <td class="center-align"><%= ref.tier %></td>
          <td><%= ref.nation %></td>
          <td><%= ref.class %></td>
        </tr>
        <% }); %>

        </tbody>
      </table>
    </div>
  </div>
<% include footer %>