<% include header %>
  <div class="container">
    <div id="statistics-section" class="section with-margin">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#summary">Summary</a></li>
            <li class="tab col s3"><a class="active" href="#graphs">Graphs</a></li>
          </ul>
        </div>

        <!-- Summary -->
        <div id="summary" class="tab-content col s12">
          <div class="row">
            <div class="col s12 m4">
              <div class="card-panel teal white-text center-align">
                <p>Overall WN8</p>
                <h4><%= stats.main.wn8 %></h4>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card-panel teal white-text center-align">
                <p>Recent WN8 change</p>
                <h4><%= stats.main.wn8Change %></h4>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card-panel teal white-text center-align">
                <p>Overall Efficiency</p>
                <h4><%= stats.main.eff %></h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6">
              <table class="table striped">
                <thead>
                <tr>
                  <th></th>
                  <th class="right-align">Total</th>
                  <th class="right-align">%</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><b>Battles</b></td>
                  <td class="right-align"><%= stats.summary.battles %></td>
                  <td class="right-align"><%= stats.summary.battlesPerc %></td>
                </tr>
                <tr>
                  <td><b>Victories</b></td>
                  <td class="right-align"><%= stats.summary.victories %></td>
                  <td class="right-align"><%= stats.summary.victoriesPerc %>%</td>
                </tr>
                <tr>
                  <td><b>Draws</b></td>
                  <td class="right-align"><%= stats.summary.draws %></td>
                  <td class="right-align"><%= stats.summary.drawsPerc %>%</td>
                </tr>
                <tr>
                  <td><b>Defeats</b></td>
                  <td class="right-align"><%= stats.summary.defeats %></td>
                  <td class="right-align"><%= stats.summary.defeatsPerc %>%</td>
                </tr>
                <tr>
                  <td><b>Survived</b></td>
                  <td class="right-align"><%= stats.summary.survived %></td>
                  <td class="right-align"><%= stats.summary.survivedPerc %>%</td>
                </tr>
                <tr>
                  <td><b>Deaths</b></td>
                  <td class="right-align"><%= stats.summary.deaths %></td>
                  <td class="right-align"><%= stats.summary.deathsPerc %>%</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col s12 m6">
              <table class="col s12 table striped">
                <thead>
                <tr>
                  <th></th>
                  <th class="right-align">Total</th>
                  <th class="right-align">Battle Avg.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><b>Frags</b></td>
                  <td class="right-align"><%= stats.summary.frags %></td>
                  <td class="right-align"><%= stats.summary.fragsAvg %></td>
                </tr>
                <tr>
                  <td><b>Damage Dealt</b></td>
                  <td class="right-align"><%= stats.summary.damageDealt %></td>
                  <td class="right-align"><%= stats.summary.damageDealtAvg %></td>
                </tr>
                <tr>
                  <td><b>Tanks Spotted</b></td>
                  <td class="right-align"><%= stats.summary.tanksSpotted %></td>
                  <td class="right-align"><%= stats.summary.tanksSpottedAvg %></td>
                </tr>
                <tr>
                  <td><b>Capture Points</b></td>
                  <td class="right-align"><%= stats.summary.capturePoints %></td>
                  <td class="right-align"><%= stats.summary.capturePointsAvg %></td>
                </tr>
                <tr>
                  <td><b>Dropped Capture Points</b></td>
                  <td class="right-align"><%= stats.summary.droppedCapturePoints %></td>
                  <td class="right-align"><%= stats.summary.droppedCapturePointsAvg %></td>
                </tr>
                <tr>
                  <td><b>Experience</b></td>
                  <td class="right-align"><%= stats.summary.experience %></td>
                  <td class="right-align"><%= stats.summary.experienceAvg %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col s12 offset-m1 m10">
              <canvas id="battle-results"></canvas>
            </div>
          </div>
        </div>

        <!-- Graphs -->
        <div id="graphs" class="tab-content col s12">
          <div class="row">
            <div class="col s12 offset-m2 m8">
              <canvas id="wn8-progression"></canvas>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <canvas id="win-rate-progression"></canvas>
            </div>
            <div class="col s12 m6">
              <canvas id="battles-by-tier"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="refresh-action" class="fixed-action-btn horizontal">
    <a onclick="window.location.reload()" class="btn-floating btn-large red">
      <i class="large material-icons">refresh</i>
    </a>
  </div>

  <script>
    (function($){
      $(function(){

        var battleResults = new Chart(document.getElementById('battle-results'), {
          type: 'bar',
          data: {
            labels: ['Battle Results', 'Survivability'],
            datasets: [{
              data: [<%= stats.summary.victoriesPerc %>, <%= stats.summary.survivedPerc %>],
              backgroundColor: 'rgba(0, 150, 136, 1)',
              hoverBackgroundColor: 'rgba(0, 150, 136, .8)'
            },{
              data: [<%= stats.summary.drawsPerc %>, 0],
              backgroundColor: 'rgba(255, 193, 7, 1)',
              hoverBackgroundColor: 'rgba(255, 193, 7, .8)'
            },{
              data: [<%= stats.summary.defeatsPerc %>, <%= stats.summary.deathsPerc %>],
              backgroundColor: 'rgba(255, 82, 82, 1)',
              hoverBackgroundColor: 'rgba(255, 82, 82, .8)'
            }]
          },
          options: {
            scales: {
              xAxes: [{
                stacked: true
              }],
              yAxes: [{
                stacked: true,
                ticks: {
                  beginAtZero: true,
                  max: 100
                }
              }]
            },
            legend:{
              display: false
            }
          }
        });

        var wn8Progression = new Chart(document.getElementById('wn8-progression'), {
          type: 'line',
          data: {
            labels: [<%- stats.graph.wn8.labels %>],
            datasets: [
              {
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [<%- stats.graph.wn8.data %>],
                spanGaps: false
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'WN8 Progression'
            },
            legend:{
              display: false
            }
          }
        });


        var winRateProgression = new Chart(document.getElementById('win-rate-progression'), {
          type: 'line',
          data: {
            labels: [<%- stats.graph.winrate.labels %>],
            datasets: [
              {
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [<%- stats.graph.winrate.data %>],
                spanGaps: false
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'Win Rate Progression'
            },
            legend:{
              display: false
            }
          }
        });


        var battlesByTier = new Chart(document.getElementById('battles-by-tier'), {
          type: 'bar',
          data: {
            labels: ['Tier I', 'Tier II', 'Tier III', 'Tier IV', 'Tier V', 'Tier VI', 'Tier VII', 'Tier VIII', 'Tier IX', 'Tier X'],
            datasets: [{
              data:  [<%- stats.graph.battlesByTier.data %>],
              backgroundColor: 'rgba(0, 150, 136, 1)',
              hoverBackgroundColor: 'rgba(0, 150, 136, .8)'
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Battles by Tier'
            },
            legend:{
              display: false
            }
          }
        });

      });
    })(jQuery);
  </script>
<% include footer %>